.dialog-background {
  position: fixed;
  z-index: 2;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;

  .dialog {
    background: white;
    width: calc(100% - 20px);
    max-width: 800px;
    margin: 10px auto;
    padding: 10px;
    max-height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 10px;

    .content {
      overflow-wrap: break-word;
      overflow: auto;
      width: 100%;
    }
  }
}
